.navbar{
    border-bottom: solid black 2px;
}
a {
    color:black;
    font-size: 1.1em;
}
a:hover{
    color: black;
    text-decoration: underline 3px;
}
h1{
    text-align: center;
    font-family: 'Press Start 2P', cursive; 
    font-size: 1.5em;
}
h3 {
    text-align: center;
    font-size: 1em;
    font-family: 'Press Start 2P', cursive;
}
.game-area{
    margin-left: 42vw;
}
.startbutton{
    font-family: 'Press Start 2P', cursive;
    margin-left: 45vw;
}
.grid{
    width: 200px;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    border-style: solid;
    box-sizing: content-box;
}
.grid div{
    width:20px;
    width:20px;
}
.snake{
    background-color: cornflowerblue;
}
.fruit{
    background-color: salmon;
}
